/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_home.scss */
header.hero.home {
  background-image: url(../img/eden-main-large-drinks.jpg);
}

/* line 8, ../sass/_home.scss */
header.hero.about {
  background-image: url(../img/eden-about-large.jpg);
}

/* line 12, ../sass/_home.scss */
header.hero.contact {
  background-image: url(../img/eden-contact-large.jpg);
}

/* line 16, ../sass/_home.scss */
section.location {
  background: url(../img/eden-main-map.jpg) no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
}

/* line 2, ../sass/_header.scss */
header.top {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 25;
  height: 12em;
}
/* line 12, ../sass/_header.scss */
header.top nav {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 5.8em;
  font-size: 1.5em;
  width: 100%;
  align-items: center;
  width: 100%;
}
/* line 23, ../sass/_header.scss */
header.top nav a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.4);
  top: 0em;
}
/* line 35, ../sass/_header.scss */
header.top nav a.logo img {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  position: relative;
  width: 3.8em;
  height: 3.8em;
  top: -.2em;
}
/* line 44, ../sass/_header.scss */
header.top nav a.logo:after {
  background: url(../img/shade.png) no-repeat;
  content: "";
  width: 100%;
  height: 7em;
  position: absolute;
  top: -1.5em;
  left: 0;
  display: inline-block;
  background-position: center center;
  background-size: 100% 100%;
  z-index: -5;
  opacity: 1;
}
/* line 58, ../sass/_header.scss */
header.top nav a.logo:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  background: black;
  content: "";
  width: 0em;
  height: 0em;
  position: absolute;
  display: inline-block;
  border-radius: 3em;
  z-index: -5;
  opacity: .3;
  top: 1.6em;
  left: 50%;
}
/* line 74, ../sass/_header.scss */
header.top nav a:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  content: "";
  width: 80%;
  opacity: 0;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: -.95em;
  left: 10%;
  z-index: -1;
}
/* line 88, ../sass/_header.scss */
header.top nav a:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  content: "";
  width: 80%;
  opacity: 0;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: 1.8em;
  left: 10%;
  z-index: -1;
}
/* line 103, ../sass/_header.scss */
header.top:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  opacity: 1;
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -10;
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 4.2em;
  margin-top: 2.2em;
}
/* line 121, ../sass/_header.scss */
header.top:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  display: inline-block;
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  z-index: -10;
  width: 100%;
  height: 4em;
  margin-top: 2.3em;
}

/* line 138, ../sass/_header.scss */
.deskbreak header.top .togglebutton-animation {
  display: none;
}

/* line 142, ../sass/_header.scss */
.phonebreak header.top .togglebutton-animation {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 147, ../sass/_header.scss */
  header.top {
    height: 12em;
  }
  /* line 149, ../sass/_header.scss */
  header.top nav {
    display: block;
    height: 3em;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding-top: .5em;
  }
  /* line 156, ../sass/_header.scss */
  header.top nav a {
    display: block;
    width: 60%;
    display: inline-block;
    padding: .3em 0%;
  }
  /* line 161, ../sass/_header.scss */
  header.top nav a.logo {
    position: absolute;
    left: .5em;
    width: auto;
    padding: 0;
    top: 0 !important;
    opacity: 1 !important;
  }
  /* line 170, ../sass/_header.scss */
  header.top nav a.logo img {
    width: 1.7em;
    height: 1.7em;
    top: .5em;
  }
  /* line 175, ../sass/_header.scss */
  header.top nav a.logo:after {
    background: none;
    display: none;
  }
  /* line 183, ../sass/_header.scss */
  header.top nav.expose-animation {
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translateZ(0);
  }
  /* line 187, ../sass/_header.scss */
  header.top nav.expose-animation a {
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translateZ(0);
    top: -6.5em;
    opacity: 0;
  }
  /* line 196, ../sass/_header.scss */
  header.top nav.expose-animation.disabled a {
    top: 0;
    opacity: 1;
  }
  /* line 203, ../sass/_header.scss */
  header.top:before {
    height: 3.2em;
    margin-top: .5em;
  }
  /* line 207, ../sass/_header.scss */
  header.top:after {
    height: 3.2em;
    margin-top: .5em;
  }
  /* line 211, ../sass/_header.scss */
  header.top.disabled {
    height: 12em;
  }
  /* line 213, ../sass/_header.scss */
  header.top.disabled:before {
    height: 10.2em;
    margin-top: .5em;
  }
  /* line 217, ../sass/_header.scss */
  header.top.disabled:after {
    height: 10.2em;
    margin-top: .5em;
    opacity: .6;
  }
}
/* line 230, ../sass/_header.scss */
header.top nav a {
  position: relative;
}
/* line 232, ../sass/_header.scss */
header.top nav a.active {
  font-style: italic;
}
/* line 234, ../sass/_header.scss */
header.top nav a.active:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  content: "";
  width: 60%;
  opacity: .7;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: -.95em;
  left: 20%;
  z-index: -1;
}
/* line 247, ../sass/_header.scss */
header.top nav a.active:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  content: "";
  width: 60%;
  opacity: .7;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: 1.8em;
  left: 20%;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  /* line 264, ../sass/_header.scss */
  header.top nav a {
    position: relative;
  }
  /* line 266, ../sass/_header.scss */
  header.top nav a.active {
    font-style: italic;
  }
  /* line 268, ../sass/_header.scss */
  header.top nav a.active:after, header.top nav a.active:before {
    display: none;
  }
}
/* line 275, ../sass/_header.scss */
header.top.min {
  height: 12em;
}
/* line 277, ../sass/_header.scss */
header.top.min nav {
  height: 2.2em;
  padding-top: 0em;
}
/* line 281, ../sass/_header.scss */
header.top.min nav a.active {
  font-style: italic;
}
/* line 283, ../sass/_header.scss */
header.top.min nav a.active:after {
  opacity: 0;
  top: -.6em;
}
/* line 287, ../sass/_header.scss */
header.top.min nav a.active:before {
  opacity: 0;
}
/* line 291, ../sass/_header.scss */
header.top.min nav a.logo img {
  width: 2.1em;
  height: 2.1em;
  top: .1em;
}
/* line 296, ../sass/_header.scss */
header.top.min nav a.logo:after {
  height: 6em;
  opacity: 0;
}
/* line 300, ../sass/_header.scss */
header.top.min nav a.logo:before {
  opacity: 1;
  background: #ed1c24;
  top: -.3em;
  width: 3em;
  height: 3em;
  left: -webkit-calc(50% - 1.5em);
  left: -moz-calc(50% - 1.5em);
  left: -ms-calc(50% - 1.3em);
  left: -o-calc(50% - 1.3em);
  left: calc(50% - 1.5em);
}
/* line 314, ../sass/_header.scss */
header.top.min .togglebutton-animation {
  top: -0.1em;
}
/* line 317, ../sass/_header.scss */
header.top.min:before {
  opacity: 0;
  margin-top: 0;
  height: 3em;
}
/* line 322, ../sass/_header.scss */
header.top.min:after {
  opacity: 1;
  background: #ed1c24;
  margin-top: -.2em;
  height: 3.1em;
}
/* line 329, ../sass/_header.scss */
header.top.min.disabled {
  height: 12em;
}
/* line 332, ../sass/_header.scss */
header.top.min.disabled:after {
  height: 3.2em;
  margin-top: 0em;
}

@media only screen and (max-width: 767px) {
  /* line 340, ../sass/_header.scss */
  header.top.min {
    height: 12em;
  }
  /* line 342, ../sass/_header.scss */
  header.top.min nav {
    height: 2.1em;
  }
  /* line 344, ../sass/_header.scss */
  header.top.min nav a.active {
    font-style: italic;
  }
  /* line 346, ../sass/_header.scss */
  header.top.min nav a.active:after {
    opacity: 0;
    top: -.6em;
  }
  /* line 350, ../sass/_header.scss */
  header.top.min nav a.active:before {
    opacity: 0;
  }
  /* line 354, ../sass/_header.scss */
  header.top.min nav a.logo img {
    width: 1.8em;
    height: 1.8em;
    top: .2em;
  }
  /* line 359, ../sass/_header.scss */
  header.top.min nav a.logo:before {
    top: -.3em;
    width: 2.6em;
    height: 2.6em;
    left: -webkit-calc(50% - 1.3em);
    left: -moz-calc(50% - 1.3em);
    left: -ms-calc(50% - 1.3em);
    left: -o-calc(50% - 1.3em);
    left: calc(50% - 1.3em);
  }
  /* line 370, ../sass/_header.scss */
  header.top.min:before {
    opacity: 0;
    margin-top: 0;
    height: 3em;
  }
  /* line 375, ../sass/_header.scss */
  header.top.min:after {
    opacity: 1;
    background: #ed1c24;
    margin-top: -.2em;
    height: 3.1em;
  }
  /* line 381, ../sass/_header.scss */
  header.top.min.disabled {
    height: 12em;
  }
  /* line 384, ../sass/_header.scss */
  header.top.min.disabled:after {
    height: 9.8em;
    margin-top: 0em;
  }
  /* line 388, ../sass/_header.scss */
  header.top.min.disabled:before {
    height: 9.8em;
    margin-top: 0em;
  }
}
/* line 397, ../sass/_header.scss */
footer.bot {
  padding: 5%;
  margin-top: 5%;
  background: #ed1c24;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 404, ../sass/_header.scss */
footer.bot a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: white;
  font-size: 1.6em;
}

/* line 4, ../sass/_menu.scss */
header.hero.dinner {
  background-image: url(../img/eden-main-large-dinner.jpg);
}

/* line 8, ../sass/_menu.scss */
header.hero.brunch {
  background-image: url(../img/eden-main-large-brunch.jpg);
}

/* line 14, ../sass/_menu.scss */
.menu section h2 {
  font-size: 2em;
  font-weight: 300;
  border-bottom: 1px solid black;
  padding-bottom: .8em;
}
/* line 20, ../sass/_menu.scss */
.menu section li {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  margin-top: 5%;
}
/* line 26, ../sass/_menu.scss */
.menu section li:first-of-type {
  margin-top: 0;
}
/* line 28, ../sass/_menu.scss */
.menu section li:first-of-type h3 {
  border-top: 0;
}
/* line 32, ../sass/_menu.scss */
.menu section li h2 {
  color: white;
  font-size: 1.8em;
  line-height: 1.6em;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 300;
  font-style: normal;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
  padding-bottom: 1em;
}
/* line 42, ../sass/_menu.scss */
.menu section li h3 {
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  padding-right: 15%;
  padding-top: 1em;
  line-height: 1.2em;
  border-top: 1px dashed black;
}
/* line 51, ../sass/_menu.scss */
.menu section li .price {
  position: absolute;
  right: 0;
  font-weight: 300;
  top: .6em;
  font-size: 1.8em;
}
/* line 58, ../sass/_menu.scss */
.menu section li p {
  font-weight: 400;
  line-height: 1.6em;
}

/* line 68, ../sass/_menu.scss */
.menu section {
  width: 50%;
  padding: 5%;
  display: inline-block;
  vertical-align: top;
}
/* line 73, ../sass/_menu.scss */
.menu section:nth-child(even) {
  padding-left: 2.5%;
}
/* line 76, ../sass/_menu.scss */
.menu section:nth-child(odd) {
  padding-right: 2.5%;
}
/* line 79, ../sass/_menu.scss */
.menu section.hot_main, .menu section.end {
  width: 100%;
  padding: 5%;
  padding-top: 0;
}
/* line 84, ../sass/_menu.scss */
.menu section.hot_main li, .menu section.end li {
  width: 47.5%;
  margin-top: 2.5%;
}
/* line 88, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(even), .menu section.end li:nth-child(even) {
  margin-left: 2.5%;
}
/* line 91, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(odd), .menu section.end li:nth-child(odd) {
  margin-right: 2.5%;
}
/* line 94, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(1), .menu section.hot_main li:nth-child(2), .menu section.end li:nth-child(1), .menu section.end li:nth-child(2) {
  margin-top: 0;
}
/* line 96, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(1) h3, .menu section.hot_main li:nth-child(2) h3, .menu section.end li:nth-child(1) h3, .menu section.end li:nth-child(2) h3 {
  border-top: 0;
}

@media only screen and (max-width: 767px) {
  /* line 107, ../sass/_menu.scss */
  .menu section.start, .menu section.hot_main, .menu section.raw_main, .menu section.end {
    font-size: .9em;
    width: 100%;
    padding: 2.5%;
    padding-top: 5%;
  }
  /* line 112, ../sass/_menu.scss */
  .menu section.start h2, .menu section.hot_main h2, .menu section.raw_main h2, .menu section.end h2 {
    padding-bottom: .5em;
  }
  /* line 115, ../sass/_menu.scss */
  .menu section.start li, .menu section.hot_main li, .menu section.raw_main li, .menu section.end li {
    width: 100%;
    margin-top: 1em;
    padding-top: 0;
  }
  /* line 119, ../sass/_menu.scss */
  .menu section.start li h3, .menu section.hot_main li h3, .menu section.raw_main li h3, .menu section.end li h3 {
    padding-top: .75em;
  }
  /* line 121, ../sass/_menu.scss */
  .menu section.start li h3:nth-child(1), .menu section.start li h3:nth-child(2), .menu section.hot_main li h3:nth-child(1), .menu section.hot_main li h3:nth-child(2), .menu section.raw_main li h3:nth-child(1), .menu section.raw_main li h3:nth-child(2), .menu section.end li h3:nth-child(1), .menu section.end li h3:nth-child(2) {
    border-top: 1px dashed black;
  }
  /* line 125, ../sass/_menu.scss */
  .menu section.start li .price, .menu section.hot_main li .price, .menu section.raw_main li .price, .menu section.end li .price {
    top: .5em;
  }
  /* line 128, ../sass/_menu.scss */
  .menu section.start li:nth-child(even), .menu section.hot_main li:nth-child(even), .menu section.raw_main li:nth-child(even), .menu section.end li:nth-child(even) {
    margin-left: 0%;
  }
  /* line 131, ../sass/_menu.scss */
  .menu section.start li:nth-child(odd), .menu section.hot_main li:nth-child(odd), .menu section.raw_main li:nth-child(odd), .menu section.end li:nth-child(odd) {
    margin-right: 0%;
  }
  /* line 135, ../sass/_menu.scss */
  .menu section.start li:first-of-type, .menu section.hot_main li:first-of-type, .menu section.raw_main li:first-of-type, .menu section.end li:first-of-type {
    margin-top: 2.5%;
    margin-top: 0%;
  }
  /* line 138, ../sass/_menu.scss */
  .menu section.start li:first-of-type h3, .menu section.hot_main li:first-of-type h3, .menu section.raw_main li:first-of-type h3, .menu section.end li:first-of-type h3 {
    border-top: 0;
  }
  /* line 142, ../sass/_menu.scss */
  .menu section.start li:nth-child(2), .menu section.hot_main li:nth-child(2), .menu section.raw_main li:nth-child(2), .menu section.end li:nth-child(2) {
    margin-top: 2.5%;
  }
}
/* line 4, ../sass/_animations.scss */
.main.ng-enter {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  opacity: 0;
}

/* line 13, ../sass/_animations.scss */
.main.ng-enter-active {
  opacity: 1;
}

/* line 17, ../sass/_animations.scss */
main.main > section, main.main > header {
  padding: 15% 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  transition: padding-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* line 33, ../sass/_animations.scss */
.home.ng-enter {
  padding-top: 15%;
  transition: padding-top 4.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3;
}

/* line 38, ../sass/_animations.scss */
.togglebutton-animation {
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  position: absolute;
  top: 0.05em;
  right: .1em;
  width: .8em;
  font-size: 3.7em;
  text-align: center;
  vertical-align: middle;
  color: white;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 50, ../sass/_animations.scss */
.togglebutton-animation.min {
  top: 0;
}

/* line 55, ../sass/_animations.scss */
.togglebutton-animation.disabled {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 18, ../sass/main.scss */
body {
  overflow-y: scroll;
}

/* line 22, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/main.scss */
body {
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 600;
  font-style: normal;
}

/* line 32, ../sass/main.scss */
.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
}
/* line 37, ../sass/main.scss */
.hero h1 {
  font-size: 5em;
  color: white;
  line-height: 1.4em;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
}
/* line 43, ../sass/main.scss */
.hero h2 {
  color: white;
  font-size: 2em;
  line-height: 1.6em;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 300;
  font-style: normal;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
}
