/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes rotate-forever {
  /* line 8, ../sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 9, ../sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  /* line 8, ../sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 9, ../sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate-forever {
  /* line 8, ../sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 9, ../sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate-forever {
  /* line 8, ../sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 9, ../sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  /* line 8, ../sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 9, ../sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 18, ../sass/_spinner.scss */
.loadbar {
  position: fixed;
  z-index: 120;
  top: 0;
  width: 100%;
}
/* line 24, ../sass/_spinner.scss */
.loadbar .bar {
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #ed1c24;
  height: 4px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
}
/* line 35, ../sass/_spinner.scss */
.loadbar.min .bar {
  background: white;
}
/* line 39, ../sass/_spinner.scss */
.loadbar .spin {
  transition: top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transition: top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  position: absolute;
  display: block;
  z-index: 110;
  width: 26px;
  height: 26px;
  left: 50%;
  top: 10px;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -ms-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  border-top: 4px solid rgba(255, 255, 255, 0.4);
  border-right: 4px solid #ed1c24;
  border-bottom: 4px solid #ed1c24;
  border-left: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
}
/* line 72, ../sass/_spinner.scss */
.loadbar.ready .bar, .loadbar.ng-enter .bar {
  height: 0px;
}
/* line 75, ../sass/_spinner.scss */
.loadbar.ready .spin, .loadbar.ng-enter .spin {
  top: -40px;
}
/* line 80, ../sass/_spinner.scss */
.loadbar.loading .bar, .loadbar.ng-active .bar {
  height: 4px;
}
/* line 83, ../sass/_spinner.scss */
.loadbar.loading .spin, .loadbar.ng-active .spin {
  top: 10px;
}
/* line 87, ../sass/_spinner.scss */
.loadbar.loading.min .spin, .loadbar.ng-active.min .spin {
  top: 12px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

@media only screen and (max-width: 767px) {
  /* line 98, ../sass/_spinner.scss */
  .loadbar .spin {
    left: 50%;
    top: 10px;
  }
  /* line 103, ../sass/_spinner.scss */
  .loadbar.loading .spin, .loadbar.ng-active .spin {
    left: 50%;
    top: 21px;
    right: none;
  }
  /* line 107, ../sass/_spinner.scss */
  .loadbar.loading .spin.min, .loadbar.ng-active .spin.min {
    top: 10px;
  }
}
/* line 4, ../sass/_home.scss */
header.hero.home {
  background-image: url(../img/eden-main-large-drinks.jpg);
}

/* line 8, ../sass/_home.scss */
header.hero.about {
  background-image: url(../img/eden-about-large.jpg);
}

/* line 12, ../sass/_home.scss */
header.hero.contact {
  background-image: url(../img/eden-contact-large.jpg);
}

/* line 16, ../sass/_home.scss */
section.location {
  background: url(../img/eden-main-map.jpg) no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
/* line 22, ../sass/_home.scss */
section.location p {
  width: 50%;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  font-weight: 300;
  line-height: 1.1em;
  border: 1px solid #aaa;
}
/* line 30, ../sass/_home.scss */
section.location p strong {
  font-weight: 600;
}
/* line 33, ../sass/_home.scss */
section.location p a {
  color: #ed1c24;
}

/* line 2, ../sass/_header.scss */
header.top {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  width: 100%;
  z-index: 25;
  height: 12em;
}
/* line 15, ../sass/_header.scss */
header.top nav {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 5.8em;
  font-size: 1.5em;
  width: 100%;
  align-items: center;
  width: 100%;
}
/* line 27, ../sass/_header.scss */
header.top nav a {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.4);
  top: 0em;
}
/* line 41, ../sass/_header.scss */
header.top nav a.logo img {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
  position: relative;
  width: 3.8em;
  height: 3.8em;
  top: -.2em;
}
/* line 50, ../sass/_header.scss */
header.top nav a.logo:after {
  background: url(../img/shade.png) no-repeat;
  content: "";
  width: 100%;
  height: 7em;
  position: absolute;
  top: -1.5em;
  left: 0;
  display: inline-block;
  background-position: center center;
  background-size: 100% 100%;
  z-index: -5;
  opacity: 1;
}
/* line 64, ../sass/_header.scss */
header.top nav a.logo:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  background: black;
  content: "";
  width: 0em;
  height: 0em;
  position: absolute;
  display: inline-block;
  border-radius: 3em;
  z-index: -5;
  opacity: .3;
  top: 1.6em;
  left: 50%;
}
/* line 79, ../sass/_header.scss */
header.top nav a:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  content: "";
  width: 80%;
  opacity: 0;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: -.95em;
  left: 10%;
  z-index: -1;
}
/* line 92, ../sass/_header.scss */
header.top nav a:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  content: "";
  width: 80%;
  opacity: 0;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: 1.8em;
  left: 10%;
  z-index: -1;
}
/* line 106, ../sass/_header.scss */
header.top:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  opacity: 1;
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -10;
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 4.2em;
  margin-top: 2.2em;
}
/* line 123, ../sass/_header.scss */
header.top:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  display: inline-block;
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  z-index: -10;
  width: 100%;
  height: 4em;
  margin-top: 2.3em;
}

/* line 139, ../sass/_header.scss */
.deskbreak header.top .togglebutton-animation {
  display: none;
}

/* line 143, ../sass/_header.scss */
.phonebreak header.top .togglebutton-animation {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 148, ../sass/_header.scss */
  header.top {
    height: 12em;
  }
  /* line 150, ../sass/_header.scss */
  header.top nav {
    display: block;
    height: 3em;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding-top: .5em;
  }
  /* line 157, ../sass/_header.scss */
  header.top nav a {
    display: block;
    width: 60%;
    display: inline-block;
    padding: .3em 0%;
  }
  /* line 162, ../sass/_header.scss */
  header.top nav a.logo {
    position: absolute;
    left: .5em;
    width: auto;
    padding: 0;
    top: 0 !important;
    opacity: 1 !important;
  }
  /* line 171, ../sass/_header.scss */
  header.top nav a.logo img {
    width: 1.7em;
    height: 1.7em;
    top: .5em;
  }
  /* line 176, ../sass/_header.scss */
  header.top nav a.logo:after {
    background: none;
    display: none;
  }
  /* line 180, ../sass/_header.scss */
  header.top nav a.logo:before {
    top: 2em;
    width: 0.1em;
    height: 0.1em;
    opacity: 0;
  }
  /* line 187, ../sass/_header.scss */
  header.top nav.expose-animation {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  /* line 189, ../sass/_header.scss */
  header.top nav.expose-animation a {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: -6.5em;
    opacity: 0;
  }
  /* line 196, ../sass/_header.scss */
  header.top nav.expose-animation.disabled a {
    top: 0;
    opacity: 1;
  }
  /* line 203, ../sass/_header.scss */
  header.top:before {
    height: 3.2em;
    margin-top: .5em;
  }
  /* line 207, ../sass/_header.scss */
  header.top:after {
    height: 3.2em;
    margin-top: .5em;
  }
  /* line 211, ../sass/_header.scss */
  header.top.disabled {
    height: 12em;
  }
  /* line 213, ../sass/_header.scss */
  header.top.disabled nav {
    height: 2.2em;
  }
  /* line 216, ../sass/_header.scss */
  header.top.disabled:before {
    height: 10.2em;
    margin-top: .5em;
  }
  /* line 220, ../sass/_header.scss */
  header.top.disabled:after {
    height: 10.2em;
    margin-top: .5em;
    opacity: .6;
  }
}
/* line 233, ../sass/_header.scss */
header.top nav a {
  position: relative;
}
/* line 235, ../sass/_header.scss */
header.top nav a.active {
  font-style: italic;
}
/* line 237, ../sass/_header.scss */
header.top nav a.active:after {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  content: "";
  width: 60%;
  opacity: .7;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: -.95em;
  left: 20%;
  z-index: -1;
}
/* line 249, ../sass/_header.scss */
header.top nav a.active:before {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  content: "";
  width: 60%;
  opacity: .7;
  height: 1px;
  background: #ed1c24;
  position: absolute;
  top: 1.8em;
  left: 20%;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  /* line 265, ../sass/_header.scss */
  header.top nav a {
    position: relative;
  }
  /* line 267, ../sass/_header.scss */
  header.top nav a.active {
    font-style: italic;
    font-weight: 300;
  }
  /* line 270, ../sass/_header.scss */
  header.top nav a.active:after, header.top nav a.active:before {
    display: none;
  }
}
/* line 277, ../sass/_header.scss */
header.top.min {
  height: 12em;
}
/* line 279, ../sass/_header.scss */
header.top.min nav {
  height: 2.2em;
  padding-top: 0em;
}
/* line 283, ../sass/_header.scss */
header.top.min nav a.active {
  font-style: italic;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: translateZ(0);
}
/* line 287, ../sass/_header.scss */
header.top.min nav a.active:after {
  opacity: 0;
  top: -.6em;
}
/* line 291, ../sass/_header.scss */
header.top.min nav a.active:before {
  opacity: 0;
  top: 1.6em;
}
/* line 296, ../sass/_header.scss */
header.top.min nav a.logo img {
  width: 2.1em;
  height: 2.1em;
  top: .1em;
}
/* line 301, ../sass/_header.scss */
header.top.min nav a.logo:after {
  height: 6em;
  opacity: 0;
}
/* line 305, ../sass/_header.scss */
header.top.min nav a.logo:before {
  opacity: 1;
  background: #ed1c24;
  top: -.3em;
  width: 3em;
  height: 3em;
  left: -9000%;
  left: -webkit-calc(50% - 1.5em);
  left: -moz-calc(50% - 1.5em);
  left: -ms-calc(50% - 1.3em);
  left: -o-calc(50% - 1.3em);
  left: calc(50% - 1.5em);
}
/* line 320, ../sass/_header.scss */
header.top.min .togglebutton-animation {
  top: -0.1em;
}
/* line 323, ../sass/_header.scss */
header.top.min:before {
  opacity: 0;
  margin-top: 0;
  height: 3em;
}
/* line 328, ../sass/_header.scss */
header.top.min:after {
  opacity: 1;
  background: #ed1c24;
  margin-top: -.2em;
  height: 3.4em;
}
/* line 334, ../sass/_header.scss */
header.top.min.disabled {
  height: 12em;
}
/* line 337, ../sass/_header.scss */
header.top.min.disabled:after {
  height: 3.2em;
  margin-top: 0em;
}

@media only screen and (max-width: 767px) {
  /* line 345, ../sass/_header.scss */
  header.top.min {
    height: 12em;
  }
  /* line 347, ../sass/_header.scss */
  header.top.min nav {
    height: 2.1em;
  }
  /* line 349, ../sass/_header.scss */
  header.top.min nav a.active {
    font-style: italic;
  }
  /* line 351, ../sass/_header.scss */
  header.top.min nav a.active:after {
    opacity: 0;
    top: -.6em;
  }
  /* line 355, ../sass/_header.scss */
  header.top.min nav a.active:before {
    opacity: 0;
  }
  /* line 359, ../sass/_header.scss */
  header.top.min nav a.logo img {
    width: 1.8em;
    height: 1.8em;
    top: .2em;
  }
  /* line 364, ../sass/_header.scss */
  header.top.min nav a.logo:before {
    top: -.2em;
    width: 2.6em;
    height: 2.6em;
    left: -0.4em;
    left: -moz-calc(50% - 1.3em);
    left: -ms-calc(50% - 1.3em);
    left: -o-calc(50% - 1.3em);
    left: calc(50% - 1.3em);
  }
  /* line 375, ../sass/_header.scss */
  header.top.min:before {
    opacity: 0;
    margin-top: 0;
    height: 3em;
  }
  /* line 380, ../sass/_header.scss */
  header.top.min:after {
    opacity: 1;
    background: #ed1c24;
    margin-top: -.2em;
    height: 3.4em;
  }
  /* line 386, ../sass/_header.scss */
  header.top.min.disabled {
    height: 12em;
  }
  /* line 389, ../sass/_header.scss */
  header.top.min.disabled:after {
    height: 9.8em;
    margin-top: 0em;
  }
  /* line 393, ../sass/_header.scss */
  header.top.min.disabled:before {
    height: 9.8em;
    margin-top: 0em;
  }
}
/* line 402, ../sass/_header.scss */
footer.bot {
  padding: 5%;
  margin-top: 5%;
  background: #ed1c24;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 409, ../sass/_header.scss */
footer.bot a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: white;
  font-size: 1.6em;
}

/* line 4, ../sass/_menu.scss */
header.hero.dinner {
  background-image: url(../img/eden-main-large-dinner.jpg);
}

/* line 8, ../sass/_menu.scss */
header.hero.brunch {
  background-image: url(../img/eden-main-large-brunch.jpg);
}

/* line 14, ../sass/_menu.scss */
.menu section h2 {
  font-size: 2em;
  font-weight: 300;
  border-bottom: 1px solid black;
  padding-bottom: .8em;
}
/* line 20, ../sass/_menu.scss */
.menu section > h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1em;
  line-height: 1.4em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
/* line 29, ../sass/_menu.scss */
.menu section h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1em;
  line-height: 1.4em;
  border-top: 1px solid black;
  margin-bottom: 1em;
}
/* line 37, ../sass/_menu.scss */
.menu section h5:first-of-type {
  margin-top: 1em;
}
/* line 41, ../sass/_menu.scss */
.menu section li {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  margin-top: 5%;
}
/* line 47, ../sass/_menu.scss */
.menu section li:first-of-type {
  margin-top: 0;
}
/* line 49, ../sass/_menu.scss */
.menu section li:first-of-type h3 {
  border-top: 0;
}
/* line 53, ../sass/_menu.scss */
.menu section li h2 {
  color: white;
  font-size: 1.8em;
  line-height: 1.6em;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 300;
  font-style: normal;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
  padding-bottom: 1em;
}
/* line 63, ../sass/_menu.scss */
.menu section li h3 {
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  padding-right: 15%;
  padding-top: 1em;
  line-height: 1.2em;
  border-top: 1px dashed black;
}
/* line 72, ../sass/_menu.scss */
.menu section li h4 {
  font-size: .9em;
  font-weight: 300;
  line-height: 1.2em;
}
/* line 77, ../sass/_menu.scss */
.menu section li .price {
  position: absolute;
  right: 0;
  font-weight: 300;
  top: .6em;
  font-size: 1.8em;
}
/* line 84, ../sass/_menu.scss */
.menu section li p {
  font-weight: 400;
  line-height: 1.6em;
}

/* line 94, ../sass/_menu.scss */
.menu section {
  width: 50%;
  padding: 5%;
  display: inline-block;
  vertical-align: top;
}
/* line 99, ../sass/_menu.scss */
.menu section:nth-child(even) {
  padding-left: 2.5%;
}
/* line 102, ../sass/_menu.scss */
.menu section:nth-child(odd) {
  padding-right: 2.5%;
}
/* line 105, ../sass/_menu.scss */
.menu section.hot_main, .menu section.end {
  width: 100%;
  padding: 5%;
  padding-top: 0;
}
/* line 110, ../sass/_menu.scss */
.menu section.hot_main li, .menu section.end li {
  width: 47.5%;
  margin-top: 2.5%;
}
/* line 114, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(even), .menu section.end li:nth-child(even) {
  margin-left: 2.5%;
}
/* line 117, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(odd), .menu section.end li:nth-child(odd) {
  margin-right: 2.5%;
}
/* line 120, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(1), .menu section.hot_main li:nth-child(2), .menu section.end li:nth-child(1), .menu section.end li:nth-child(2) {
  margin-top: 0;
}
/* line 122, ../sass/_menu.scss */
.menu section.hot_main li:nth-child(1) h3, .menu section.hot_main li:nth-child(2) h3, .menu section.end li:nth-child(1) h3, .menu section.end li:nth-child(2) h3 {
  border-top: 0;
}

@media only screen and (max-width: 767px) {
  /* line 133, ../sass/_menu.scss */
  .menu section.start, .menu section.hot_main, .menu section.raw_main, .menu section.end, .menu section {
    font-size: .9em;
    width: 100%;
    padding: 2.5%;
    padding-top: 5%;
  }
  /* line 138, ../sass/_menu.scss */
  .menu section.start h2, .menu section.hot_main h2, .menu section.raw_main h2, .menu section.end h2, .menu section h2 {
    padding-bottom: .5em;
  }
  /* line 141, ../sass/_menu.scss */
  .menu section.start li, .menu section.hot_main li, .menu section.raw_main li, .menu section.end li, .menu section li {
    width: 100%;
    margin-top: 1em;
    padding-top: 0;
  }
  /* line 145, ../sass/_menu.scss */
  .menu section.start li h3, .menu section.hot_main li h3, .menu section.raw_main li h3, .menu section.end li h3, .menu section li h3 {
    padding-top: .75em;
  }
  /* line 147, ../sass/_menu.scss */
  .menu section.start li h3:nth-child(1), .menu section.start li h3:nth-child(2), .menu section.hot_main li h3:nth-child(1), .menu section.hot_main li h3:nth-child(2), .menu section.raw_main li h3:nth-child(1), .menu section.raw_main li h3:nth-child(2), .menu section.end li h3:nth-child(1), .menu section.end li h3:nth-child(2), .menu section li h3:nth-child(1), .menu section li h3:nth-child(2) {
    border-top: 1px dashed black;
  }
  /* line 151, ../sass/_menu.scss */
  .menu section.start li .price, .menu section.hot_main li .price, .menu section.raw_main li .price, .menu section.end li .price, .menu section li .price {
    top: .5em;
  }
  /* line 154, ../sass/_menu.scss */
  .menu section.start li:nth-child(even), .menu section.hot_main li:nth-child(even), .menu section.raw_main li:nth-child(even), .menu section.end li:nth-child(even), .menu section li:nth-child(even) {
    margin-left: 0%;
  }
  /* line 157, ../sass/_menu.scss */
  .menu section.start li:nth-child(odd), .menu section.hot_main li:nth-child(odd), .menu section.raw_main li:nth-child(odd), .menu section.end li:nth-child(odd), .menu section li:nth-child(odd) {
    margin-right: 0%;
  }
  /* line 161, ../sass/_menu.scss */
  .menu section.start li:first-of-type, .menu section.hot_main li:first-of-type, .menu section.raw_main li:first-of-type, .menu section.end li:first-of-type, .menu section li:first-of-type {
    margin-top: 2.5%;
    margin-top: 0%;
  }
  /* line 164, ../sass/_menu.scss */
  .menu section.start li:first-of-type h3, .menu section.hot_main li:first-of-type h3, .menu section.raw_main li:first-of-type h3, .menu section.end li:first-of-type h3, .menu section li:first-of-type h3 {
    border-top: 0;
  }
  /* line 168, ../sass/_menu.scss */
  .menu section.start li:nth-child(2), .menu section.hot_main li:nth-child(2), .menu section.raw_main li:nth-child(2), .menu section.end li:nth-child(2), .menu section li:nth-child(2) {
    margin-top: 2.5%;
  }
}
/* line 177, ../sass/_menu.scss */
.menu.brunch section:nth-child(1), .menu.brunch section:nth-child(2) {
  padding-bottom: 0;
}

/* line 4, ../sass/_animations.scss */
body.ready .main.ng-enter {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  opacity: 0;
}

/* line 10, ../sass/_animations.scss */
body.ready .main.ng-enter-active {
  opacity: 1;
}

/* line 14, ../sass/_animations.scss */
body.ready .home.ng-enter {
  padding-top: 15%;
  transition: padding-top 4.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3;
}

/* line 19, ../sass/_animations.scss */
.togglebutton-animation {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  position: absolute;
  top: 0.05em;
  right: .1em;
  width: .8em;
  font-size: 3.7em;
  text-align: center;
  vertical-align: middle;
  color: white;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 33, ../sass/_animations.scss */
.togglebutton-animation.disabled {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 35, ../sass/_animations.scss */
.togglebutton-animation.disabled:after {
  opacity: 0;
}

/* line 21, ../sass/main.scss */
body {
  overflow-y: scroll;
}

/* line 25, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/main.scss */
body {
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 600;
  font-style: normal;
}
/* line 33, ../sass/main.scss */
body > footer, body > header {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

/* line 40, ../sass/main.scss */
body.init > footer, body.init > header {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

/* line 46, ../sass/main.scss */
main.main > section, main.main > header {
  padding: 15% 10%;
  padding-top: 15%;
  padding-bottom: 15%;
}
@media only screen and (max-width: 767px) {
  /* line 46, ../sass/main.scss */
  main.main > section, main.main > header {
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 15%;
  }
}

/* line 57, ../sass/main.scss */
.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
}
/* line 62, ../sass/main.scss */
.hero h1 {
  font-size: 5em;
  color: white;
  line-height: 1.4em;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
}
@media only screen and (max-width: 767px) {
  /* line 62, ../sass/main.scss */
  .hero h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    padding-bottom: .2em;
  }
}
/* line 73, ../sass/main.scss */
.hero h2 {
  color: white;
  font-size: 2em;
  line-height: 1.6em;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 300;
  font-style: normal;
  text-shadow: 1px 1px 6px rgba(41, 41, 41, 0.7);
}
@media only screen and (max-width: 767px) {
  /* line 73, ../sass/main.scss */
  .hero h2 {
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 300;
    text-shadow: 1px 1px 6px rgba(81, 81, 81, 0.9);
  }
}
