/* =============================================================================
   Z-Indexes
   ========================================================================== */

	/*	
		#logo = 500
		#menu-sub-nav = 500
		#masthead-wrap header = 100
		#masthead = 90
		.featured-photo-triple-over = 0
		.featured-photo-link = 0
		#footer-off-home-over = 15
		#copyright = 15
		#hours-location = 15
	*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 14px; line-height: 1.231; font-family: utopia-std, Georgia, sans-serif; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #a6a6a6; font-style: italic; text-decoration: none; }
a:visited { color: #a6a6a6; }
a:hover { color: #457FA3; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

a, #contact-form #submit-button {
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;	
	transition:all 0.2s ease-in-out;
}


/* =============================================================================
   Typography
   ========================================================================== */
   
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: none; font-style: normal; font-weight: normal; }

p {margin: 0; padding: 0;}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

h1#home {
	display: block;
	width: 480px;
	height: 70px;
	background: url(../img/home-header.png);
	margin-top: 20px;

}
h1#home span {display: none;}

#home-header-text p{
	font-size: 22px;
	font-weight: normal;
	line-height: 1.5;
	
}

h1#late-summer {
	display: block;
	width: 331px;
	height: 46px;
	background: url(../img/late-summer-header.png);
	margin-bottom: 50px;
	margin-top: 20px;
}
h1#late-summer span {display: none;}

h1#fall {
	display: block;
	width: 88px;
	height: 46px;
	background: url(../img/fall-header.png);
	margin-bottom: 50px;
}
h1#fall span {display: none;}

h1#winter {
	display: block;
	width: 175px;
	height: 45px;
	background: url(../img/winter-header.png);
	margin-bottom: 50px;
	margin-top: 50px;
}
h1#spring {
	display: block;
	width: 167px;
	height: 54px;
	background: url(../img/spring_header.png);
	margin-bottom: 50px;
	margin-top: 50px;
}
h1#summer {
	display: block;
	width:217px;
	height: 31px;
	background: url(../img/summer_header.png);
	margin-bottom: 50px;
	margin-top: 50px;
}
h1#winter span {display: none;}
h1#spring span {display: none;}
h1#summer span {display: none;}

h1#brunch {
	display: block;
	width: 190px;
	height: 46px;
	background: url(../img/brunch-header.png);
	margin-bottom: 50px;
	margin-top: 20px;
}
h1#brunch span {display: none;}

h1#lunch {
	display: block;
	width: 150px;
	height: 46px;
	background: url(../img/lunch-header.png);
	margin-bottom: 50px;
}
h1#lunch span {display: none;}

h1#drinks {
	display: block;
	width: 172px;
	height: 46px;
	background: url(../img/drinks-header.png);
	margin-bottom: 50px;
}
h1#drinks span {display: none;}

h1#healthy-kids {
	display: block;
	width: 318px;
	height: 58px;
	background: url(../img/healthy-kids-header.png);
	margin-bottom: 50px;
}
h1#healthy-kids span {display: none;}

h1#about {
	display: block;
	width: 296px;
	height: 46px;
	background: url(../img/about-header.png);
	margin-bottom: 50px;
	margin-top: 20px;
}
h1#about span {display: none;}

h1#contact {
	display: block;
	width: 271px;
	height: 43px;
	background: url(../img/contact-header.png);
	margin-bottom: 50px;
	margin-top: 20px;
}
h1#contact span {display: none;}

h2#delicious {
	display: block;
	width: 656px;
	height: 22px;
	background: url(../img/delicious-header.png);
}
h2#delicious span {display: none;}

h3#entrees-app {
	display: block;
	width: 344px;
	height: 95px;
	background: url(../img/entrees-app-header.png);
}
h3#entrees-app span {display: none;}

h3#three-course {
	font-size: 22px;
	font-weight: normal;
	color: #a6a6a6;
}

#intro-text-divide {
	margin-bottom: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid #d9d9d9;
}

#intro-text p {
	font-size: 16px;
}

#grand-opening-text {
	width: 305px;
	color: #7f7f7f;
	line-height: 1.8;
	font-size: 15px;
	position: absolute;
	top: 63px;
	left: 35px;
}

#three-course-text {
	width: 345px;
	line-height: 1.6;
	position: absolute;
	top: 76px;
	left: 35px;
}

.featured-item-header h2 {
	font-size: 30px;
	text-transform: lowercase;
	font-weight: normal;
}

.featured-item-header-pre-note h2 {
	font-size: 30px;
	text-transform: lowercase;
	font-weight: normal;
}

.featured-item {
	font-family: din-condensed-web, Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #404040;
	letter-spacing: .5px;
	margin-bottom: 20px;
}

.featured-item div {
	position: relative;
	display: inline;
	top: -2px;
}

.featured-item div mark {
	font-family: utopia-std, Georgia, sans-serif;
	font-weight: normal;
	position: absolute;
	top: 3px;
	left: 8px;
	font-size: 14px;
}

.featured-item aside {
	font-family: utopia-std, Georgia, sans-serif;  
	font-size: 14px;
	text-transform: lowercase;
	letter-spacing: normal;
	padding-top: 10px;
	color: #707070;
	display: block;
	height: 30px;
	line-height: 18px;
}

.featured-item aside.tall {
	font-family: utopia-std, Georgia, sans-serif;  
	font-size: 14px;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: normal;
	padding-top: 10px;
	color: #707070;
	display: block;
	height: 55px;
	line-height: 18px;
}

.menu-item h3 {
	font-family: din-condensed-web, Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #404040;
	letter-spacing: .5px;
	margin-bottom: 0;
	font-weight: normal;
	margin-bottom: 10px;
}

.menu-item-description {
	font-family: utopia-std, Georgia, sans-serif;  
	font-size: 14px;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: normal;
	color: #707070;
	width: 550px;
	line-height: 1.8;
}

.menu-item-note {
	font-family: utopia-std, Georgia, sans-serif;  
	font-size: 14px;
	letter-spacing: normal;
	line-height: 1.8;
}

a.address:link,
a.address:visited {
	color: #7f7f7f;
}
a.address:hover {
	color: #457FA3;
}

p.contact {
	font-size: 17px;
	line-height: 2;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #e5e5e5;
	padding-top: 50px;	
}

p.about {
	font-size: 17px;
	line-height: 2;
	margin-bottom: 35px;	
}

p.about-last {
	font-size: 17px;
	line-height: 2;
	margin-bottom: 75px;	
}

.sub-caption {
	font-size: 11px; 
	margin-top: 10px; 
	display: block;
	font-style: italic;
	line-height: 19px;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Primary Styles - Authors: Jonathan Carson, Shane Eckel
   ========================================================================== */

body {
	background: url(../img/header-bg.jpg) repeat-x;
}

#container {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

	#nav {
		width: 3000px;
		position: absolute;
		top: 0;
		left: -2865px;
		padding-top: 175px;
	}
	
		#nav ul li a:link,
		#nav ul li a:visited
		{
			display: block;
			height: 36px;
			background: #ffffff;
			font-size: 18px;	
			text-align: right;
			padding: 14px 20px 0 0;
			color: #a6a6a6;
		}
		#nav ul li a:hover {
			color: #595959;
			padding: 14px 15px 0 0;
			
		}
		#nav ul li a:active {
			padding: 14px 20px 0 0;
			height: 36px;
		}
	
		/* =================
		   Current Nav Items 
		   ================= */
		   
		#nav ul li a#home-current {
			display: block;
			height: 50px;
			background: #d10000 url(../img/home-current.png) no-repeat 99.3% 0;
			padding: 0;
		}
		#nav ul li a#home-current span {display: none;}
		#nav ul li a#menu-current {
			display: block;
			height: 50px;
			background: #d10000 url(../img/menu-current.png) no-repeat 99.4% 0;
			padding: 0;
		}
		#nav ul li a#menu-current span {display: none;}
		#nav ul li a#about-current {
			display: block;
			height: 50px;
			background: #d10000 url(../img/about-current.png) no-repeat 99.3% 0;
			padding: 0;
		}
		#nav ul li a#about-current span {display: none;}	
		#nav ul li a#contact-current {
			display: block;
			height: 50px;
			background: #d10000 url(../img/contact-current.png) no-repeat 99.3% 0;
			padding: 0;
		}
		#nav ul li a#contact-current span {display: none;}	
		
		#menu-sub-nav-wrap {position: relative;}	
		
		#menu-sub-nav {
			position: absolute;
			top: 0;
			right: -130px;
			z-index: 500;
			opacity: 0;
			display: none;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
			filter: alpha(opacity=0);			
		}
		
		#menu-sub-nav li a.sub-nav:link,
		#menu-sub-nav li a.sub-nav:visited {
			display: block;
			height: 16px;
			width: 96px;
			font-size: 13px;
			background: #e5e5e5;
			text-align: left;
			padding: 17px;
			color: #000000;
			border-bottom: 1px solid #c3c3c3;
		}
		#menu-sub-nav li a.sub-nav:hover {
			background: #d9d9d9;
			padding: 17px;
		}
		
		#menu-sub-nav li a#sub-nav-last {border-bottom: none;}

	#logo {
		float: left;
		margin-top: 15px;
		position: relative;
		z-index: 500;
	}
	#logo a {
		display: block;
		width: 96px;
		height: 99px;
	}
	
	#header-info {
		float: right;
		margin-top: 57px;
	}
	
		#header-info-list {list-style-type: none;}
		#header-info-list li {
			float: left;
			margin-left: 15px;
			color: #d10000;
		}	
		
	#main {
		position: absolute;
		left: 250px;
		width: 730px;
		padding-bottom: 50px;
	}	
	
		#home-header-text {
			width: 480px;
			padding: 35px 0;
			background: #ffffff;
			margin-bottom: 50px;
			padding-top: 0px;

		}
		
		#masthead-wrap {position: relative;}
		
		#masthead-header {
			position: relative;
			top: 0;
			left: 0;
			z-index: 100;
		}
		
		#masthead {
			position: relative;
			z-index: 90;
			width: 729px;
			height: 354px;
		}
		
			#masthead div {
				width: 729px;
				height: 354px;
			}
		
		#intro-text {
			position: relative;
			font-size: 17px;
			line-height: 2;
			padding-top: 50px;
			border-bottom: 1px dashed #D9D9D9;
			padding-bottom: 50px;
			margin-bottom: 50px;
		}
		
		#dinner-intro {
			border-top: 1px dashed #D9D9D9;
			border-bottom: 1px dashed #D9D9D9;
			font-size: 17px;
			line-height: 2;
			margin-bottom: 35px;
			padding: 35px 0;		
		}
		
		#grand-opening {
			margin: 0 0 75px 0;
		}
		
		#grand-opening-divide {
			border-top: 1px solid #d9d9d9;
			border-bottom: 1px solid #d9d9d9;
			padding: 35px 0 35px 0;
			width: 480px;
			margin-bottom: 35px;
		}
		
		#tension-bg {
			width: 480px;
			height: 229px;
			background: url(../img/red-tension.png) bottom right no-repeat;
			position: relative;
		}
		
		#three-course-tension-bg {
			width: 504px;
			height: 229px;
			background: url(../img/red-tension.png) bottom right no-repeat;
			position: relative;
		}		
		
		#twenty-five {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		
		#hp-location {
			height: 230px;
			width: 230px;
		}
		
		#hp-hours {
			background: url(../img/hp-hours-bg.png);
			height: 230px;
			width: 230px;
			float: left;		
		}
		#hp-hours span {display: none;}
	
		.featured-item-header {
			border-top: 5px solid #e3e3e3;
			border-bottom: 1px solid #d9d9d9;
			padding: 25px 0;
			margin-bottom: 50px;
		}
		
		
		.featured-item-header-pre-note {
			border-top: 5px solid #e3e3e3;
			border-bottom: 1px solid #d9d9d9;
			padding: 25px 0;
			margin-bottom: 25px;
		}		
		.featured-item-price {
			float: right;
			font-style: normal;
			position: relative;
			font-size: 30px;
			font-weight: normal;			
		}
		
		.featured-item-price mark {
			background: #ffffff;
			font-size: 18px;
			font-style: normal;
			position: absolute;
			top: 4px;
			left: -9px;
			font-weight: normal;
		}		
		
		.price {
			font-style: normal;
			position: relative;
			font-size: 30px;
			font-weight: normal;		
		}	
		
		.price mark {
			background: #ffffff;
			font-size: 18px;
			font-style: normal;
			position: absolute;
			top: 4px;
			left: -9px;
			font-weight: normal;
		}	
		
		.add-on-price {
			font-style: normal;
			position: relative;
			font-size: 30px;
			font-weight: normal;		
		}	
		
		.add-on-price mark {
			background: #ffffff;
			font-size: 18px;
			font-style: normal;
			position: absolute;
			top: 4px;
			left: -21px;
			font-weight: normal;
		}					
		
		.featured-items-triple-list, .featured-items-double-list  {margin-bottom: 75px;}
		
		.featured-items-triple-list li {
			display: block;
			float: left;
			margin-right: 20px;
			width: 230px;			
		}
		
		.featured-items-double-list li {
			display: block;
			float: left;
			margin-right: 20px;
			width: 355px;			
		}		
		
		.hp-GR-list  {margin-bottom: 20px;}
		
		.hp-GR-list li {
			display: block;
			float: left;
			margin-right: 20px;
		}	
		
		.hp-GR-list li.last {
			display: block;
			float: left;
			margin-right: 0;
		}		
		
		#hp-hours-text {
			float: left;
			margin-left: 20px;
			height: 230px;
			width: 475px;
			background: url(../img/hp-hours-text-bg.png);
			text-align: center;
		}	
		
			#hp-hours-text ul {
				list-style-type: none;
				margin: 40px 0 0 0;
			}
			
			#hp-hours-text ul li {
				margin-bottom: 25px;	
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 25px;			
			}				
			#hp-date-define{
				font-size: 17px; 
				margin-left: 25px;
				margin-top: 15px;
			}
			#hp-hours-text ul li.last {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}			
			#hp-date-list p{
				margin-top: 8px;
			}					
			#hp-hours-text ul li.last p{
				margin-top: 12px;
			}
		
			#hp-date-list p .footer-mark{
				display: inline-block;
				width: 110px;
			}
			#hp-date-list{
				text-align: right; 
			}

			.hp-hours-vertical-border {
				border-right: 1px solid #e5e5e5;
				margin-right: 25px;
				padding-right: 25px;
			}
			
			.center-padding {
				padding-left: 119px;
			}
			
		.featured-items-triple-list li.last, .featured-items-double-list li.last {margin-right: 0;}
		
			.hp-map-over {
				position: absolute;
				width: 480px;
				height: 230px;
				background: url(../img/hp-map-over.png);
				z-index: 0;
				opacity: 0;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
				filter: alpha(opacity=0);					
			}		
		
			.featured-photo-triple-link {position: relative;}
			
			.featured-photo-triple-over {
				position: absolute;
				width: 230px;
				height: 230px;
				background: url(../img/featured-photo-triple-over.png);
				z-index: 0;
				opacity: 0;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
				filter: alpha(opacity=0);					
			}
			
			.hp-location-link {position: relative;}		
			
			.featured-photo-double-over {
				position: absolute;
				width: 355px;
				height: 230px;
				background: url(../img/featured-photo-double-over.png);
				z-index: 0;
				opacity: 0;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
				filter: alpha(opacity=0);					
			}			
			
			.featured-photo-link img{
				position: absolute;
				z-index: 5;
			}
			
		.menu-list {
			list-style-type: none;
		}
			
		.menu-list li{margin-bottom: 75px;}
		
		.menu-list li.last {margin-bottom: 125px;}
		
		.menu-list li.note {
			border-bottom: 1px dashed #D9D9D9;
			margin-bottom: 50px;
			padding-bottom: 25px;
		}
		
		.drinks-list {
			list-style-type: none;
		}	
		
		.drinks-list li{margin-bottom: 75px;}
		
		.drinks-list li.last{margin-bottom: 0;}
		
		.drinks-grid {margin-bottom: 125px;}
			
		
		.price {
			position: relative;
		}
		
		.price mark {
			background: #ffffff;
			font-size: 18px;
			font-style: normal;
			position: absolute;
			top: 4px;
			left: -9px;
			font-weight: normal;
		}	
		
		#special-options {
			height: 230px;
			width: 230px;
			background: url(../img/special-options-bg.png);
			float: left;
		}	
		#special-options span {display: none;}
		
		#special-options-wrap {
			margin-bottom: 125px;
		}
		
		#special-options-text {
			float: left;
			margin-left: 15px;
			height: 230px;
			width: 480px;
			background: url(../img/special-options-text-bg.png);
		}		
		
			#special-options-text ul {
				list-style-type: square;
				margin: 66px 0 0 15px;
			}
			
			#special-options-text ul li {
				color: #707070;
				margin-bottom: 25px;				
			}
			
		.drinks-block{
			border-right: 1px solid #e5e5e5;
			float: left;
			width: 315px;
			margin-right: 99px
		}

		.drinks-block-last{
			float: left;
			width: 315px;
		}		
		
	
	#footer-home {
		width: 730px;
		text-align: right;
		font-size: 12px;
	}
			
	#footer-off-home {
		width: 944px;
		height: 50px;
		position: fixed;
		bottom: 0px;
		background-color: #D9D9D9;
		padding: 0 18px;
		cursor: pointer;
	}
	
	#footer-off-home-up {
		width: 944px;
		height: 50px;
		position: fixed;
		bottom: 206px;
		background-color: #D9D9D9;
		padding: 0 18px;
		cursor: pointer;
	}
	
	#footer-off-home-featured {
		width: 944px;
		height: 50px;
		position: fixed;
		bottom: 0px;
		background-color: #D9D9D9;
		padding: 0 18px;
		cursor: pointer;
		margin-left: -250px;
	}
	
	#footer-off-home-featured-up {
		width: 944px;
		height: 50px;
		position: fixed;
		bottom: 206px;
		background-color: #D9D9D9;
		padding: 0 18px;
		cursor: pointer;
		margin-left: -250px;
	}		
	
		#footer-off-home-bg-wrap {position: relative}
	
		#footer-off-home-over { 
			position: absolute;
			top: 0;
			left: -18px;
			opacity: 0;
			background: #bfbfbf;
			height: 50px;
			width: 980px;
			z-index: 15px;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
			filter: alpha(opacity=0);				
		}
		
		.footer-map-over {
			position: absolute;
			width: 479px;
			height: 191px;
			background: url(../img/footer-map-over.png);
			z-index: 0;
			opacity: 0;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
			filter: alpha(opacity=0);				
		}		
	
		#hours-location {
			padding-top: 10px;
			float: left;
			position: relative;
			z-index: 15;
		}
		
			#hours-location-text {
				position: absolute;
				top: 19px;
				left: 20px;
				width: 200px;
				font-style: italic;
			}
		
			#plus {
				font-size: 24px;
				position: absolute;
			}
		
		#copyright {
			float: right;
			font-size: 12px;
			font-style: normal;
			padding-top: 20px;
			color: #7f7f7f;
			position: relative;
			z-index: 15;
		}
		
		.footer-mark {
			color: #7f7f7f;
		}
		
		#footer-off-home-content {
			height: 220px; 
			background: #d9d9d9; 
			width: 944px; 
			position: relative; 
			left: -18px; 
			top: 50px;	
			padding: 18px;	
		}
		
			.footer-off-home-info {
				line-height: 1.5;
				border-bottom: 1px solid #bfbfbf;
				padding-bottom: 25px;
				margin-bottom: 25px;
			}
			
			.no-border-padding-margin {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		
			.footer-off-home-info mark{
				float: left;
				margin-right: 50px;
				text-transform: uppercase;
				display: block;
			}
			
			.footer-off-home-info mark#hours{
				float: left;
				margin-right: 39px;
				text-transform: uppercase;
				display: block;
			}			
			
			.footer-off-home-info aside {
				float: left;
			}

/* =============================================================================
   Contact Form
   ========================================================================== */
   			
#contact-form {
	position:relative;
	margin-bottom: 75px;
}

#contact-form input,  
#contact-form textarea, 
#contact-form label {
	font-size: 17px;
}

#contact-form label {
	font-family: din-condensed-web, Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #404040;
	letter-spacing: .5px;
	margin-bottom: 0;
	font-weight: normal;
	margin-bottom: 10px;	
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
	width:450px;
	border: 1px solid #bfbfbf;
	margin-bottom:25px;
	font-size: 17px;
	padding: 15px;	
	background: #ffffff;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
	border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

#contact-form textarea {
	height:150px;
	resize: none;
}

#contact-form label {
	display:block;
}

#contact-form .required {
	color:#d10000;	
}

#contact-form #submit-button {
	width: 100px;
	background-color:#D9D9D9;
	border:none;
	display:block;
	font-style: italic;
 	font-family: utopia-std, Georgia, sans-serif;	
}

#contact-form #submit-button:hover {
	background-color: #457FA3;
	color: #ffffff;
}

#contact-form #submit-button:active {
	position:relative;
	top:1px;
}

#contact-form #loading {
	width:32px;
	height:32px;
	background-image:url(../img/loading.gif);
	display:block;
	position:absolute;
	right:130px;
	bottom:16px;
	display:none;
}

#errors {
	border:solid 1px #d10000;
	padding:15px;
	margin-bottom: 50px;
	display:block;
	width:450px;
	background:#FBE6E6 url(../img/cancel_48.png) no-repeat 415px center;
	display:none;
	font-size: 17px;
}

#errors li {
	padding:2px;
	list-style:none;	
}

#errors li:before {
	content: ' - ';	
}

#errors #info {
	font-weight:bold;
}

#errors #info:before {
	content: '';	
}

#success {
	border:solid 1px #008425;
	padding:15px;
	margin-bottom: 50px;
	display:block;
	width:450px;
	background:#E6F3EA url(../img/accepted_48.png) no-repeat 415px center;
	display:none;
	line-height: 1.8;
	font-size: 17px;
}

#errors.visible, #success.visible {
	display:block;	
}

#req-field-desc {
	font-style:normal;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}			
			
article.hot li{
	height: 198px ;
} 
article.hot ul{
	margin-bottom: 10px ;
} 

/* =============================================================================
   General Typography 
   ========================================================================== */
   
.easy-clearing:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;}   

.relative {position: relative;}

.italic {font-style: italic;}
.inline {display: inline;}
.bold {font-weight: bold;}
.normal {font-weight: normal;}
.underline {text-decoration: underline;}
.no-italic {font-style: normal;}

.float-left {float: left;}
.float-right {float: right;}
.clear {clear: both;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.visible {visibility: visible;}
.hidden {visibility: hidden; display: none;}
.shown {visibility: visible; direction: block;}
.block {display: block;}
.hide {visibility: hidden; display: none;}
.display-none {display: none;}

.position-right {position: absolute; right: 0;}
.position-left {position: absolute; left: 0;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}


/* =============================================================================
   Margins and Paddings 
   ========================================================================== */

.margin-top-5 {margin-top: 5px;}
.margin-top-10 {margin-top: 10px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-25 {margin-top: 25px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-40 {margin-top: 40px;}
.margin-top-50 {margin-top: 50px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-70 {margin-top: 70px;}

.margin-right-5 {margin-right: 5px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-15 {margin-right: 15px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-25 {margin-right: 25px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-35 {margin-right: 35px;}
.margin-right-40 {margin-right: 40px;}

.margin-bottom-5 {margin-bottom: 5px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-25 {margin-bottom: 25px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-35 {margin-bottom: 35px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-bottom-45 {margin-bottom: 45px;}
.margin-bottom-50 {margin-bottom: 50px;}
.margin-bottom-60 {margin-bottom: 60px;}

.margin-left-5 {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-15 {margin-left: 15px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-25 {margin-left: 25px;}
.margin-left-30 {margin-left: 30px;}
.margin-left-35 {margin-left: 35px;}
.margin-left-40 {margin-left: 40px;}
.margin-left-45 {margin-left: 45px;}
.margin-left-50 {margin-left: 50px;}

.padding-top-5 {padding-top: 5px;}
.padding-top-10 {padding-top: 10px;}
.padding-top-15 {padding-top: 15px;}
.padding-top-20 {padding-top: 20px;}
.padding-top-25 {padding-top: 25px;}
.padding-top-30 {padding-top: 30px;}
.padding-top-35 {padding-top: 35px;}
.padding-top-40 {padding-top: 40px;}
.padding-top-50 {padding-top: 50px;}
.padding-top-60 {padding-top: 60px;}

.padding-right-5 {padding-right: 5px;}
.padding-right-10 {padding-right: 10px;}
.padding-right-15 {padding-right: 15px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-25 {padding-right: 25px;}
.padding-right-30 {padding-right: 30px;}

.padding-bottom-5 {padding-bottom: 5px;}
.padding-bottom-10 {padding-bottom: 10px;}
.padding-bottom-15 {padding-bottom: 15px;}
.padding-bottom-20 {padding-bottom: 20px;}
.padding-bottom-25 {padding-bottom: 25px;}
.padding-bottom-30 {padding-bottom: 30px;}
.padding-bottom-35 {padding-bottom: 35px;}
.padding-bottom-40 {padding-bottom: 40px;}
.padding-bottom-50 {padding-bottom: 50px;}
.padding-bottom-60 {padding-bottom: 60px;}

.padding-left-5 {padding-left: 5px;}
.padding-left-10 {padding-left: 10px;}
.padding-left-15 {padding-left: 15px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-25 {padding-left: 25px;}
.padding-left-30 {padding-left: 30px;}
.padding-left-35 {padding-left: 35px;}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


.sub-information{
	margin-top: -7px;
	color: #393939;
}

