   
  <header class="hero about"></header>

  <section class="about">
 
    <article class="main">

      <h1>About Eden</h1>

      <p>Eden is a healthy restaurant located in Pittsburgh's shadyside neighborhood at <a href="https://www.google.com/maps/preview#!q=735+Copeland+St.+Pittsburgh%2C+Pa+15232&data=!1m4!1m3!1d3230!2d-79.9345744!3d40.4511665!4m12!2m11!1m10!1s0x8834f210e0181241%3A0x8f971a55e1378d7!3m8!1m3!1d97183!2d-79.9805004!3d40.4313684!3m2!1i1024!2i768!4f13.1">735 Copeland street</a>. Chef and co-owner <strong>Hilary Zozula</strong> created Eden with no agenda or diet in mind. She took to raw cuisine for the health benefits and getting the most nutrient value out of the ingredients. She learned that not only is eating this way good for you, but it can taste amazing. This is essentially the reason we open our doors everyday. To give you a delicious and healthy experience.</p>

      <blockquote>"If the servers are unhappy, customers will know. And if the kitchen staff is underpaid and overtired, you'll be able to taste it."</blockquote>

      <p>Eden treats their employees fairly. This <a href="http://www.pghcitypaper.com/pittsburgh/local-eatery-eden-joins-a-new-campaign-to-improve-the-lot-of-restaurant-workers/Content?oid=1730922">City Paper Article</a> brought this to light. We stand firmly behind the Restaurants Advancing Industry Standards in Employment campaign. It's not complicated for us. Happy employees make better food. 
      </p>

      <p>If you're wondering about the crowd or attire it can be quite eclectic. Giving the nature of our cuisine we appeal to a diverse collection. Just be yourself. Relax and enjoy the meal and our environment.</p>

    </article>
  
    <article class="hours">
      <h1>Hours</h1>
      <p>We're open for <a href="/#/brunch">brunch</a> Friday, Saturday, and Sunday from <strong>10am to 2pm</strong>. Our <a href="/#/dinner">dinner</a> hours are from <strong>5pm to 10pm</strong> and available everyday except for Tuesday. Tuesday we're closed so we can take a breather.</p>
    </article>
     
    <article class="reservations">
      <h1>Reservations</h1>
      <p>Making a reservation is recommended for the weekends, but you can usually sneak in during the weekday. Please call <a href="tel:4128027070">(412) 802-7070</a> to make a reservation.</p>
    </article>

    <article class="location">
      <h1>Location & Parking</h1>
      <p>We're located at <a href="https://www.google.com/maps/preview#!q=735+Copeland+St.+Pittsburgh%2C+Pa+15232&data=!1m4!1m3!1d3230!2d-79.9345744!3d40.4511665!4m12!2m11!1m10!1s0x8834f210e0181241%3A0x8f971a55e1378d7!3m8!1m3!1d97183!2d-79.9805004!3d40.4313684!3m2!1i1024!2i768!4f13.1">735 Copeland Street</a> in Pittsburgh's shadyside neighborhood like we mentioned above. Shadyside offers street parking, parking garages, and various parking lots throughout the area.</p>
    </article>

    <article class="ingredients">
      <h1>Our Ingredients</h1>
      <p>We do our best to provide local and organic ingredients. We strive to support and promote Pittsburgh and the surrounding areas. Here's a list of the people we work with.</p>
      <ul>

        <li><a href="http://www.rootandheartfarm.org/">Root and Heart Farm</a> in Gipsonia grows an acre and a half of organic produce just for us. 
        <li><a href="http://www.pennscorner.com/">Penns Corner Farm Alliance</a> in East Liberty supplies us with local produce from farms within a 100 mile radius. 
        <li><a href="http://www.frankferd.com/‎">Frankferd farms</a> in Saxonburg delivers organic ingredients year round. 
        <li><strong>River View Dairy</strong> in Emleton supplies us with goat cheese and goat yogurt.
        <li><strong>Bee Boy Honey</strong> is responsible for harvesting our raw seasonal honey. Their apiaries are located in the North Side and right here in Shadyside.
        <li><a href="http://www.juiceheaven.us/">Juice Heaven</a> in Sewickly grows us organic wheatgrass.
        <li><a href="http://www.19coffee.com/">19 Coffee</a> in Washington County are responsible for roasting and blending our coffee from small farms in South America.
        <li><a href="http://gryphons-tea.myshopify.com/">Gyphon's Tea</a> in Lawrenceville produces our specially blended teas. 
        <li><strong>Jarosinski Farm</strong> in Sarver supplies us with cage free eggs who's chickens are raised under Animal Welfare Approved Standards.        
 
      </ul>
      <p>Our community is ours and we want to support it. We feel it deserves it.</p>
    </article>

</section>