<header class="hero home">
    <h1>Here at Eden, we make ‘healthy’ delicious.</h1>
    <h2>Allergy conscious, vegan, raw, 100% gluten free, and just really good food.</h2>
    <p><span>Currently serving our </span> <a href="/#/dinner">Winter Menu</a></p>
  </header>

  <section class="location">
    <p><strong>Eden</strong> is located on 735 Copeland Street in Shadyside Pittsburgh. For a map and directions visit <a href="https://www.google.com/maps/preview#!q=735+Copeland+St.+Pittsburgh%2C+Pa+15232&data=!1m4!1m3!1d3230!2d-79.9345744!3d40.4511665!4m12!2m11!1m10!1s0x8834f210e0181241%3A0x8f971a55e1378d7!3m8!1m3!1d97183!2d-79.9805004!3d40.4313684!3m2!1i1024!2i768!4f13.1">Google Maps</a></p>
  </section>

  <section class="hours">

  h1>Hours</h1>
    <p>We're open for <a href="/#/brunch">brunch</a> Saturday and Sunday from <strong>10am to 2pm</strong>. Our <a href="/#/dinner">dinner</a> hours are from <strong>5pm to 10pm</strong> and available everyday except for Tuesday. Tuesday we're closed so we can take a breather.</p>

    <ul class="dinner">
      <aside>
        <h2>brunch</h2>
        <h3>10am-2pm</h3>
      </aside>
      <li><h2 class='closed'>monday</h2><span></span>
      <li><h2 class='closed'>tuesday</h2><span></span>
      <li><h2 class='closed'>wednesday </h2><span></span>
      <li><h2 class='closed'>thursday</h2><span></span>
      <li><h2 class='closed'>friday</h2><span></span>
      <li><h2>saturday</h2><span class="open"></span>
      <li><h2>sunday</h2><span class="open"></span>
    </ul>
    <ul class="dinner">
      <aside>
        <h2>dinner</h2>
        <h3>5pm-10pm</h3>
      </aside>
      <li><h2>monday</h2><span class="open"></span>
      <li><h2 class='closed'>tuesday</h2><span></span>
      <li><h2>wednesday</h2><span class="open"></span>
      <li><h2>thursday</h2><span class="open"></span>
      <li><h2>friday</h2><span class="open"></span>
      <li><h2>saturday</h2><span class="open"></span>
      <li><h2>sunday</h2><span class="open"></span>
    </ul>

    <h2>Please call <a href="tel:+4128027070">(412) 802-7070</a> to make reservations.</h2>

  </section>

  <section class="cookies hero">
    <h1>100% raw vegan & gluten-free cookies.</h1>
    <p>Available at <a href="http://www.constellationcoffeepgh.com/">Constellation Coffee</a>.  if you have any questions <a href="/#/contact">send us an email</a>.</p>
  </section>
