
   
  <header class="hero home">
    <h1>Here at Eden, we make ‘healthy’  delicious.</h1>
    <h2>No politics. No agenda. No nonsense. Just delicious food.</h2>
  </header>

  <section class="location">
    <p><strong>Eden</strong> is located on 735 copeland street in shadyside pittsburgh. For a map and available directions <a href="https://www.google.com/maps/preview#!q=735+Copeland+St.+Pittsburgh%2C+Pa+15232&data=!1m4!1m3!1d3230!2d-79.9345744!3d40.4511665!4m12!2m11!1m10!1s0x8834f210e0181241%3A0x8f971a55e1378d7!3m8!1m3!1d97183!2d-79.9805004!3d40.4313684!3m2!1i1024!2i768!4f13.1">click here</a>. </p>
  </section>

  <section class="hours">
    <h1>Our hours are:</h1>
    Monday, Wednesday, Thursday 5PM - 10PM
    Friday, Saturday 5PM - 10PM
    Tuesday closed
    Brunch
    Saturday10AM - 2PM
    Sunday10AM - 2PM
  </section>