
  <header class="hero dinner">
    <h1>{{menu.meta.header}}</h1>
    <h2>{{menu.meta.title}}</h2>
  </header>

  <article class="menu"> 
    <section ng-repeat="section in menu.menulist" class="{{section.class}}">
      <h2>{{section.title}}</h2>
      <ul>
        <li ng-repeat="item in section.items">
          <h3>{{item.title}}</h3>
          <span class="price">${{item.price}}</span>
          <p>{{item.descript}}</p>
         </li>
      </ul>
    </section>
  </article>
 
<!-- Our unnamed main ui-view for this template 
<div ui-view class="span9" ng-animate="{enter:'fade-enter'}"></div>-->

