
  <header class="hero dinner">
    <h1>{{menu.meta.header}}</h1>
    <h2>{{menu.meta.title}}</h2>
    <p><span>Featured here is our green burger.</p>

  </header>

  <article class="menu"> 
    <section ng-repeat="section in menu.menulist" class="{{section.class}}">
      <h2>{{section.title}}</h2>
      <ul>
        <li ng-repeat="item in section.items">
          <h3>{{item.title}}</h3>
          <span class="price" ng-if="item.price">${{item.price}}</span>
          <span class="price pricelist" ng-if="item.pricelist">sml ${{item.pricelist.small}} / lrg ${{item.pricelist.large}}</span>
          <p>{{item.descript}}</p>
        </li>
      </ul>
      <aside ng-if="section.class == 'start'">
        <h5>Gratuity will be added to parties of 5 or more.</h5>
        <h5>Cork fee is $1 per glass</h5>
      </aside>
      <aside ng-if="section.class == 'raw_main'">
        <h5>raw dishes only use pink himalayan salt.</h5>
        <h5>We can split your check up to 4 separate ways.
      </aside>
      <aside ng-if="section.class == 'hot_main'">
        <h5>Add organic tempeh or tofu $2  / Add organic chicken $3.5</h5>
        <h5>WE ONLY USE COLD PRESSED EXTRA VIRGIN OLIVE OIL, FRESH GROUND PEPPER, AND SEA SALT.</h5>
        <h5>WE ARE VERY SENSITIVE TO YOUR ALLERGIES. LET US KNOW AND WE WILL DO OUR VERY BEST TO ACCOMMODATE.</h5>
      </aside>
      <aside ng-if="section.class == 'end'">
        <h5>in our raw desserts we use only wild bourbon vanilla bean powder and dates.</h5>
      </aside>
    </section>
  </article> 